<configuration debug="true">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

	<logger name="be.olivermay">
    	<level value="DEBUG"/>
    </logger>

	<logger name="net.sf.jipcam.axis.MjpegFrameParser">
    	<level value="DEBUG"/>
    </logger>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
